.navbar {
  height: 80px;
}

.wrapper {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;

  .item {
    display: flex;
    align-items: center;
  }

  .left {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .center {
  }

  .right {
    display: flex;
    align-items: center;
    gap: 25px;

    .icons {
      display: flex;
      gap: 15px;
      color: #777;
      cursor: pointer;
      position: relative;

      .cartIcon {
        span {
          font-size: 12px;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background-color: #2879fe;
          color: white;
          position: absolute;
          right: -10px;
          top: -10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
